@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: #000;
}
.nav-bar {
  height: 100px;
}

.main-nav {
  display: flex;
  flex-direction: row;
}

.logo-image {
  margin-top: 20px;
  margin-left: 40px;
  left: 11.11%;
  right: 81.12%;
  top: 13%;
  bottom: 13%;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.nav-list {
  list-style: none;
  display: flex;
  margin-left: 20%;
  width: 100%;
  gap: 60px;
  left: 1068px;
  top: 35px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  padding: 20px;
  color: rgba(35, 31, 32, 0.9);
  cursor: pointer;
}

.list-2 {
  width: 101px;
  height: 30px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #ff5f00;
  flex: none;
  flex-grow: 0;
}

.list-4 {
  margin-left: 30px;
}

.list-5 {
  margin-left: 30px;
  margin-top: -2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 10px;
  gap: 10px;
  width: 136px;
  height: 60px;
  left: 1044px;
  top: 10px;
  background: linear-gradient(134deg, #eb001b -43.28%, #f79e1b 97%);
  border-radius: 5px;
}

.previous-page {
  margin-top: 50px;
  display: flex;
  margin-left: 40px;
  gap: 10px;
}

.previous-page a {
  text-decoration: none;
  width: 39px;
  height: 30px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #ff5f00;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.part-2 {
  margin-top: 10%;
  height: 500px;
}

.container1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card-1 {
  padding: 10px;
  height: 450px;
}

.blue-card1 {
  width: 474px;
  height: 302.23px;
  left: 198px;
  top: 277px;
  margin-left: 15%;
  margin-top: 15%;
}

.card-colors {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 29px;
  width: 228px;
  height: 70px;
  left: 321px;
  top: 659px;
  margin-left: 30%;
  margin-top: 5%;
}

.message {
  margin-right: 20px;
  padding: 10px;
}

.message-share {
  margin-left: 40px;
  width: 530px;
  left: 670px;
  top: 239px;
  padding-top: 30px;
}

.text-1 {
  margin-left: 40px;
  padding: 10px;
  margin-top: 4%;
  width: 530px;
  height: 241px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #000;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.save-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 20px;
  width: 500px;
  height: 24px;
  left: 750px;
  top: 590px;
  margin-top: 10%;
  margin-left: 40px;
}

.save-card a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ff5f00;
  flex-grow: 0;
}

.links {
  display: flex;
  flex-direction: row;
  left: 321px;
  top: 659px;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  gap: 20px;
  width: 300px;
  height: 90px;
  margin-left: 10%;
}

.generatecode {
  background: linear-gradient(134deg, #eb001b -43.28%, #f79e1b 97%);
  border-radius: 5px;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 18px;
}

.generatecode a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.download {
  border: 2px solid #ff5f00;
  border-radius: 5px;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding: 18px;
}

.download a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ff5f00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.comments {
  margin-top: 10%;
  margin-left: 8%;
  height: 1000px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: -20px;
  margin-top: 2%;
}

.image2 {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
  margin-top: 10px;
}

.user-details {
  margin-left: -70%;
  gap: 10px;
  margin-top: 10px;
}

.user-name {
  font-family: "Poppins", sans-serif;
}

.reply {
  margin-top: 30px;
}

.likes {
  display: flex;
}

.likes a {
  text-decoration: none;
  margin-left: 40px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
  line-height: 30px;
  color: #ff5f00;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.some-text {
  max-width: 700px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #000;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.line-one {
  width: 1120px;
  height: 0;
  border: 1px solid #c2c2c2;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.comments-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 40px;
  width: 930px;
  flex: none;
  margin-top: 5%;
  order: 2;
  flex-grow: 0;
}

.title-2 {
  width: 149px;
  height: 27px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.area-field {
  width: 930px;
  height: 200px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

::placeholder {
  position: absolute;
  width: 105px;
  height: 24px;
  left: 25px;
  top: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.send-comments-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 10px;
  gap: 10px;
  width: 350px;
  height: 60px;
  background: linear-gradient(134deg, #eb001b -43.28%, #f79e1b 97%);
  border-radius: 5px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 15px;
  cursor: pointer;
}

.send-comment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 10px;
  gap: 10px;
  width: 350px;
  height: 60px;
  background: linear-gradient(134deg, #eb001b -43.28%, #f79e1b 97%);
  border-radius: 5px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.send-comment a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.footer-area {
  margin-top: 8%;
  width: 100%;
  height: 462px;
  top: 2403px;
  left: 0%;
  right: 0%;
  bottom: 0%;
  align-items: center;
  background: #202326;
}

.footer-details {
  align-content: center;
}

.footer-log {
  display: block;
  margin-left: 500px;
  margin-right: auto;
  padding: 30px;
  left: 46.46%;
  right: 45.78%;
  top: 6.49%;
  bottom: 77.49%;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.footer-log img {
  margin-top: 10%;
}

.cc-gen-text {
  height: 55px;
  left: 0%;
  right: 0%;
  margin-left: 350px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  width: 700px;
  color: rgba(255, 255, 255, 0.75);
}

.botton-menu {
  margin-top: 90px;
  margin-left: 450px;
}

.footer-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.footer-list li {
  list-style: none;
}

.botton-menu a {
  width: 48px;
  height: 30px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
}

.copy-right {
  height: 18px;
  left: 40.42%;
  right: 40.42%;
  top: calc(50% - 18px / 2 + 192px);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-left: 450px;
  margin-top: 2%;
  align-items: center;
  color: rgba(255, 255, 255, 0.75);
}

.social-media-icons {
  margin-left: 500px;
  margin-top: 2%;
  color: #fff;
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 40px;
  cursor: pointer;
}

.hambager {
  display: none;
}
