@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Poppins&display=swap');

* {
    background: #FFF;

}

body {
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    flex-wrap: wrap;
    text-decoration: none;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;

}

.home {
    position: absolute;
    left: 50%;
    top: 10%;
    text-decoration: none;
    color: black;

}

.Document {
    position: absolute;
    left: 60%;
    top: 10%;
    text-decoration: none;
    color: black;

}


.in {
    position: absolute;
    left: 84%;
    top: 10%;
    text-decoration: none;
    color: black;

}

.Register {
    left: 88%;
    top: 3%;

    width: 30px;
    height: 15px;
    border-radius: 5px;
    justify-content: center;
    padding: 30px 20px;
    position: absolute;
    background: linear-gradient(134deg, #EB001B -43.28%, #F79E1B 97%);
    text-decoration: none;
    color: black;

}


.nav-bar {
    display: flex;
    justify-content: row;
    text-decoration: none;
    padding-top: 5%;
    margin: 5%;
    font-size: 10px;
}

.read {
    margin-top: 10%;
    background: linear-gradient(134deg, #EB001B -43.28%, #F79E1B 97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 500;
    font-size: 15px;
}


.right {
    margin-top: 15%;
    margin: 5%;
    font-size: 17px;
    flex-direction: row;
    align-items: flex-start;
}
.business {
    margin-left: 25%;

}
.input {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    top: 20%;
    margin-left: 20%;
    gap: 20%;
    border-radius: 10px;
}

#one {
    background: linear-gradient(134deg, #EB001B -43.28%, #F79E1B 97%);
}

#two {
    background: linear-gradient(134deg, #327A60 35.63%, #230B58 93.35%);

}

#three {
    background: linear-gradient(134deg, #4C0964 7.86%, #EF8B16 97%);
}

.para {
    width: 60%;
    height: 50px;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    text-decoration: none;
    border-radius: 5px;
    background: linear-gradient(134deg, #EB001B -43.28%, #F79E1B 97%);
    color: white;
}




footer {
    position: absolute;
    width: 400px;
    height: 775px;
    margin-top: 3%;
    background: #202326;
}

.logo {
    position: absolute;
    left: 40%;
    margin-top: 10px;
    width: 90px;
    background: #202326;
    color: white;
}



.notes {
    width: 320px;
    height: 152px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    text-align: center;
    background: #202326;
    color: white;
    margin-top: 30%;
    padding: 10%;
    display: flex;
}
p .notes{
    display: flex;
}

.pages {
    display: flex;
    justify-content: space-evenly;
    
    flex-direction: row;
    align-items: center;
    background: #202326;
    color: white;
    margin-top: 5%;
    line-height: 5px;

}

.pages a {
    text-decoration: none;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    color: white;
    background: #202326;
}

#face {
    top: 75%;
    bottom: 5.25%;
    background: #202326;
}

#twit {
    left: 50%;
    right: 46.28%;
    top: 75%;
    bottom: 9.66%;
    background: #202326;
}

#insta {
    left: 55%;
    right: 0%;
    top: 75%;
    bottom: 0%;
    background: #202326;
}












@media screen and (min-width: 800px) {
    @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Poppins&display=swap');

    body {
        font-style: normal;
        font-weight: 450;
        background: #FFF;
        text-decoration: none;
        width: auto;
        font-size: 16px;
        height: 20rem;
        font-family: 'Poppins', sans-serif;
    }

    .nav-bar {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        position: relative;
        font-size: 15px;
    }


    .home {
        position: absolute;
        left: 50%;
        text-decoration: none;
        color: black;
        top: -150px;

    }

    .card {
        position: absolute;
        left: 55%;
        text-decoration: none;
        color: black;
        top: -150px;


    }



    .Document {
        position: absolute;
        left: 63%;
        text-decoration: none;
        top: -150px;

        color: black;
    }

    .in {
        position: absolute;
        left: 80%;
        text-decoration: none;
        top: -150px;

        color: black;
    }

    .Register {
        left: 83%;
        top: -220px;

        width: 60px;
        height: 30px;
        border-radius: 5px;
        justify-content: center;
        padding: 13px 10px;
        position: absolute;
        background: linear-gradient(134deg, #EB001B -43.28%, #F79E1B 97%);
        text-decoration: none;
        color: black;

    }



    .left {
        position: absolute;
        line-height: 20px;
        left: 10%;
        margin-top: -10%;

    }

    .business {
        margin-left: 25%;

    }

    .input {
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: row;
        top: 20%;
        margin-left: 20%;
        gap: 20%;
        border-radius: 10px;
    }

    #one {
        background: linear-gradient(134deg, #EB001B -43.28%, #F79E1B 97%);
    }

    #two {
        background: linear-gradient(134deg, #327A60 35.63%, #230B58 93.35%);

    }

    #three {
        background: linear-gradient(134deg, #4C0964 7.86%, #EF8B16 97%);
    }

    .right {
        height: 50%;
        margin-left: 60%;
        margin-top: -5%;


    }

    .para {
        width: 40%;
        height: 50px;
        margin-right: auto;
        margin-top: 2%;
        padding: 18px 10px;
        text-decoration: none;
        border-radius: 5px;
        background: linear-gradient(134deg, #EB001B -43.28%, #F79E1B 97%);
    }

    .lower-left {
        position: absolute;
        left: 9%;

    }

    .right-lower {
        margin-left: 60%;
        margin-top: 15%;
    }

    .lower-bottom-left {
        position: absolute;
        left: 9%;
    }


    footer {
        width: 100%;
        position: relative;
        background: #202326;
        color: white;
        top: 25%;
    }

    .logo {
        left: 45%;
    }

    .social {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

}